.icon {
  width: 32px;
  height: 32px;
  fill: #ccc;
}
.icon:hover {
  fill: #bbb;
  cursor: pointer;
}
.icon:active {
  fill: #ccc;
}
.icon.is-check {
  fill: #fe4365;
}
.icon.is-heart rect {
  clip-path: url("#heart-path");
}
.icon.is-play rect {
  clip-path: url("#play-path");
}
.icon.is-pause rect {
  clip-path: url("#pause-path");
}
.icon.is-inset-shadow g {
  filter: url("#inset-shadow");
}
