!!!
html
	head
		meta(charset="utf-8")
		title
		link(rel="stylesheet", href="css/webkits-ie.css")

	body

		svg(viewBox="0 0 512 512").icon.is-heart: g
				rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-heart.is-check: g
			rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-play.is-inset-shadow: g
			rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-pause.is-check: g
			rect(width="512", height="512")

		include css/icons.svg

		script(type="text/javascript")
			var firefox = navigator.userAgent.indexOf("Firefox") 	!= -1;
			var opera 	= navigator.userAgent.indexOf("Opera") 		!= -1;
			if ( firefox || opera ) {  
				document.write('<link rel="stylesheet" href="css/old-opera-ff.css">');
			}

		
