!!!
html
	head
		meta(charset="utf-8")
		title
		link(rel="stylesheet", href="css/main.css")

	body

		svg(viewBox="0 0 512 512").icon.is-heart: g
				rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-heart.is-check: g
			rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-play.is-inset-shadow: g
			rect(width="512", height="512")

		svg(viewBox="0 0 512 512").icon.is-pause.is-check: g
			rect(width="512", height="512")

		include css/icons.svg

		
